<span class="span-faq-minus-icon">
  <svg
    class="faq-minus-icon"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 448 512"
    width="20"
    height="20"
    aria-labelledby="faqMinus faqDesc2"
  >
    <title id="faqMinus">FAQ Minus Icon</title>
    <desc id="faqDesc2">This minus icon shrinks the accordion.</desc>
      <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" fill="#d42715"/>
  </svg>
</span>
