<svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon-leaf"
  viewBox="0 0 64 64"
  aria-labelledby="thermos-leaf-icon thermos-leaf-icon-desc"
>
  <title id="thermos-leaf-icon">leaf Icon</title>
  <desc id="thermos-leaf-icon-desc">leaf button Icon for the pdp page </desc>
  <defs><style>.a{stroke-miterlimit:10}</style></defs><path class="a" d="M52 11 13 50m22-37v15h16"/><path class="a" d="M52 11c6 24-16.72 47.29-33 32C7 22 29 10 52 11Z"/>
</svg>
