<svg
  xmlns="http://www.w3.org/2000/svg"
  width="7"
  height="10"
  viewBox="0 0 7 10"
  aria-labelledby="thermos-next-caurosel-icon thermos-next-caurosel-icon-desc"
>
  <title id="thermos-next-caurosel-icon">Caurosel Next Icon</title>
  <desc id="thermos-next-caurosel-icon-desc">Caurosel Next Icon for the feature block </desc>
  <g><g transform="rotate(-90 3.5 5)"><path fill="#414042" d="M4.14 2.204l3.948 3.948a.694.694 0 0 1 0 .984l-.656.656a.694.694 0 0 1-.985 0l-2.8-2.795-2.8 2.798a.694.694 0 0 1-.983 0l-.66-.656a.694.694 0 0 1 0-.984l3.949-3.948a.695.695 0 0 1 .987-.003z"/></g></g>
</svg>
