<svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon-phone"
  viewBox="0 0 64 64"
  aria-labelledby="thermos-phone-icon thermos-phone-icon-desc"
>
  <title id="thermos-phone-icon">phone Icon</title>
  <desc id="thermos-phone-icon-desc">phone button Icon for the pdp page </desc>
  <path d="m18.4 9.65 10.2 10.2-6.32 6.32c2.1 7 6.89 12.46 15.55 15.55l6.32-6.32 10.2 10.2-8.75 8.75C25.71 50.3 13.83 38.21 9.65 18.4Z"/>
</svg>
