<svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon-close"
  viewBox="0 0 64 64"
  aria-labelledby="thermos-close-icon thermos-close-icon-desc"
>
  <title id="thermos-close-icon">close Icon</title>
  <desc id="thermos-close-icon-desc">close icon</desc>
    <title>icon-X</title><path d="m19 17.61 27.12 27.13m0-27.12L19 44.74"/>
</svg>
