<svg
  width="10"
  height="3"
  viewBox="0 0 10 3"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-labelledby="thermos-minusdoogmabtn-icon thermos-minusdoogmabtn-icon-desc"
>
  <title id="thermos-minusdoogmabtn-icon">minusdoogmabtn Icon</title>
  <desc id="thermos-minusdoogmabtn-icon-desc">minusdoogmabtn icon for the header </desc>
  <path d="M9.28571 0.214355H0.714286C0.319866 0.214355 0 0.598195 0 1.0715V1.92864C0 2.40194 0.319866 2.78578 0.714286 2.78578H9.28571C9.68013 2.78578 10 2.40194 10 1.92864V1.0715C10 0.598195 9.68013 0.214355 9.28571 0.214355Z" fill="#AAB1CE"></path>
</svg>