<svg
  xmlns="http://www.w3.org/2000/svg"
  width="21"
  height="18"
  viewBox="0 0 21 18"
  aria-labelledby="thermos-cart-icon thermos-cart-icon-desc"
>
  <title id="thermos-cart-icon">cart Icon</title>
  <desc id="thermos-cart-icon-desc">cart icon for the header </desc>
  <g style="fill: white"><g><path d="M17.744 11.25H7.438l.23 1.125h9.437c.541 0 .942.503.822 1.03l-.193.854a1.969 1.969 0 0 1-.888 3.74 1.977 1.977 0 0 1-1.939-1.913 1.963 1.963 0 0 1 .59-1.461h-7.37a1.969 1.969 0 1 1-2.357-.301L3.3 2.25H.845A.844.844 0 0 1 0 1.406V.844C0 .378.378 0 .844 0h3.604c.401 0 .747.282.827.675l.322 1.575h13.809c.541 0 .943.503.823 1.03l-1.662 7.313a.844.844 0 0 1-.823.657z"/></g></g>
</svg>
