<svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon-play"
  viewBox="18.24 17.35 24.52 28.3"
  aria-labelledby="thermos-icon-play thermos-icon-play-desc"
>
  <title id="thermos-icon-play">icon-play</title>
  <desc id="thermos-icon-play-desc">icon-play</desc>
  <path fill="#323232" d="M22.1 19.151v25.5l20.4-13.489-20.4-12.011z"/>
</svg>