<svg
  width="10"
  height="11"
  viewBox="0 0 10 11"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-labelledby="thermos-plusdoogmabtn-icon thermos-plusdoogmabtn-icon-desc"
>
  <title id="thermos-plusdoogmabtn-icon">plusdoogmabtn Icon</title>
  <desc id="thermos-plusdoogmabtn-icon-desc">plusdoogmabtn icon for the header </desc>
  
  <path opacity="0.8" d="M9.28571 4.42857H6.07143V1.21429C6.07143 0.819866 5.75156 0.5 5.35714 0.5H4.64286C4.24844 0.5 3.92857 0.819866 3.92857 1.21429V4.42857H0.714286C0.319866 4.42857 0 4.74844 0 5.14286V5.85714C0 6.25156 0.319866 6.57143 0.714286 6.57143H3.92857V9.78571C3.92857 10.1801 4.24844 10.5 4.64286 10.5H5.35714C5.75156 10.5 6.07143 10.1801 6.07143 9.78571V6.57143H9.28571C9.68013 6.57143 10 6.25156 10 5.85714V5.14286C10 4.74844 9.68013 4.42857 9.28571 4.42857Z" fill="#ABB2CE"></path>
</svg>