<svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon-close"
  viewBox="0 0 64 64"
  aria-labelledby="thermos-menu-close-icon thermos-menu-close-icon-desc"
>
  <title id="thermos-menu-close-icon">Menu close Icon</title>
  <desc id="thermos-menu-close-icon-desc">menu close icon for the menu</desc>
  <path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/>
</svg>
