<svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon-hamburger"
  viewBox="0 0 64 64"
  aria-labelledby="thermos-hamburger-icon thermos-hamburger-icon-desc"
>
  <title id="thermos-hamburger-icon">hamburger Icon</title>
  <desc id="thermos-hamburger-icon-desc">hamburger icon for menu</desc>
  <path d="M7 15h51M7 32h51M7 49h51"/>
</svg>
