<svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon-dot"
  viewBox="0 0 12 12"
  aria-labelledby="thermos-dot-icon thermos-dot-icon-desc"
>
  <title id="thermos-dot-icon">dot Icon</title>
  <desc id="thermos-dot-icon-desc">dot icon</desc>
  <circle cx="6" cy="6" r="6" fill="currentColor"/>
</svg>