<svg
  width="10"
  height="3"
  viewBox="0 0 10 3"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-labelledby="thermos-fallback-text-plus-icon thermos-fallback-text-plus-icon-desc"
>
  <title id="thermos-charity-icon">fallback-text-plus Icon</title>
  <desc id="thermos-fallback-text-plus-icon-desc">fallback-text-plus icon</desc>
  <path d="M9.28571 0H0.714286C0.319866 0 0 0.383839 0 0.857143V1.71429C0 2.18759 0.319866 2.57143 0.714286 2.57143H9.28571C9.68013 2.57143 10 2.18759 10 1.71429V0.857143C10 0.383839 9.68013 0 9.28571 0Z" fill="#AAB1CE"/>
</svg>