<svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon-3d"
  viewBox="18.24 17.35 24.52 28.3"
  aria-labelledby="thermos-3d-icon thermos-3d-icon-desc"
>
  <title id="thermos-3d-icon">3d Icon</title>
  <desc id="thermos-3d-icon-desc">3d icon for the header </desc>
  <path fill="#3A3A3A" d="m30.5 17.35-12.26 7.07v14.16l12.26 7.07 12.26-7.08V24.42L30.5 17.35zM20.24 37.42V25.58l10.26-5.93 10.13 5.85-10.13 5.88v12l-10.26-5.96z"/>
</svg>