<svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon-tcwi-truck"
  viewBox="0 0 100 100"
  aria-labelledby="thermos-truck-icon thermos-truck-icon-desc"
>
  <title id="thermos-charity-icon">truck Icon</title>
  <desc id="thermos-truck-icon-desc">truck icon</desc>
  <path d="m44.36 67.09-2.17.01h20.46V28.83H22.27v3.93m0 23.71V67.1h8.78l-2.18-.01"/><path d="M36.62 59.5a5.83 5.83 0 0 0-5.84 5.83 5.84 5.84 0 0 0 11.68 0 5.84 5.84 0 0 0-5.84-5.83Zm41.38 0a5.84 5.84 0 0 0-5.85 5.83 5.84 5.84 0 0 0 11.68 0A5.83 5.83 0 0 0 78 59.5Z"/><path d="m70.26 67.09 2.17.01h-9.78V34.03h12.31l15.06 15.06h4.67V67.1H83.57l2.18-.01"/><path d="M66.95 49.1V38h5.49l11.04 11.03-16.53.07zm-38.69-4.57H5.31m27.5-6.72h-15.3m15.3 13.44h-15.3"/>
</svg>