<svg viewBox="0 0 100% 100%" style="fill: white; "   aria-labelledby="thermos-cart-white-icon thermos-cart-white-icon-desc"
>
  <title id="thermos-cart-white-icon">cart-white Icon</title>
  <desc id="thermos-cart-white-icon-desc">cart-white icon for the header </desc>>
  <path xmlns="http://www.w3.org/2000/svg" d="M15.346 6.729v.562c0 .31-.252.563-.562.563h-1.688V9.26c0 .31-.252.563-.562.563h-.563a.562.562 0 0 1-.562-.563V7.854H9.72a.562.562 0 0 1-.562-.563V6.73c0-.31.252-.563.562-.563h1.688V4.76c0-.31.252-.563.562-.563h.563c.31 0 .562.252.562.563v1.406h1.688c.31 0 .562.252.562.563zm3.66 4.124l1.663-7.312a.844.844 0 0 0-.823-1.031H6.037L5.715.935A.844.844 0 0 0 4.888.26H1.284a.844.844 0 0 0-.844.844v.562c0 .466.378.844.844.844H3.74l2.47 12.074a1.967 1.967 0 0 0 .885 3.674 1.969 1.969 0 0 0 1.471-3.373h7.37c-.376.37-.605.888-.59 1.46.028 1.049.89 1.9 1.939 1.915a1.969 1.969 0 0 0 .888-3.74l.194-.854a.844.844 0 0 0-.823-1.031H8.108l-.23-1.125h10.306a.844.844 0 0 0 .823-.657z"/>
</svg>