<svg
  width="16"
  height="16"
  viewBox="0 0 16 16"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-labelledby="thermos-doogma-view-icon thermos-doogma-view-icon-desc"
>
  <title id="thermos-doogma-view-icon">doogma-view Icon</title>
  <desc id="thermos-doogma-view-icon-desc">doogma-view icon for the header </desc>
  
  <path d="M10.8371 5.21942L6.89213 9.16447L5.10849 7.38073L3.74658 8.7426L6.89213 11.8881L12.199 6.58133L10.8371 5.21942Z" fill="#3FA410"/>
  <path d="M8 0.5C3.85784 0.5 0.5 3.85784 0.5 8C0.5 12.1422 3.85784 15.5 8 15.5C12.1422 15.5 15.5 12.1422 15.5 8C15.5 3.85784 12.1421 0.5 8 0.5ZM8 13.574C4.91921 13.574 2.42592 11.081 2.42592 8C2.42592 4.91921 4.91892 2.42592 8 2.42592C11.0808 2.42592 13.5741 4.91892 13.5741 8C13.574 11.0807 11.081 13.574 8 13.574Z" fill="#3FA410"/>
</svg>