<svg
  xmlns="http://www.w3.org/2000/svg"
  width="7"
  height="10"
  viewBox="0 0 7 10"
  aria-labelledby="thermos-next-icon thermos-next-icon-desc"
>
  <title id="thermos-next-icon">next Icon</title>
  <desc id="thermos-next-icon-desc">next icon</desc>
  <g><g transform="rotate(90 3.5 5)"><path style="fill: white" d="M3.153 2.204L-.795 6.152a.694.694 0 0 0 0 .984l.656.656a.694.694 0 0 0 .984 0l2.801-2.795 2.799 2.798a.694.694 0 0 0 .984 0l.659-.656a.694.694 0 0 0 0-.984L4.14 2.207a.695.695 0 0 0-.987-.003z"/></g></g>
</svg>
