<svg
  xmlns="http://www.w3.org/2000/svg"
  width="13"
  height="12"
  viewBox="0 0 13 12"
  fill="none"
  aria-labelledby="thermos-doogma-close-icon thermos-doogma-close-icon-desc"
>
  <title id="thermos-doogma-close-icon">doogma-close Icon</title>
  <desc id="thermos-doogma-close-icon-desc">doogma-close icon for the header </desc>
  
  <path opacity="0.4" d="M8.28812 6L11.7052 2.58852C12.1245 2.16989 12.1245 1.49114 11.7052 1.07216L10.9458 0.313977C10.5264 -0.104659 9.84658 -0.104659 9.42692 0.313977L6.00984 3.72545L2.59277 0.313977C2.17345 -0.104659 1.49358 -0.104659 1.07392 0.313977L0.314492 1.07216C-0.104831 1.4908 -0.104831 2.16955 0.314492 2.58852L3.73157 6L0.314492 9.41148C-0.104831 9.83011 -0.104831 10.5089 0.314492 10.9278L1.07392 11.686C1.49324 12.1047 2.17345 12.1047 2.59277 11.686L6.00984 8.27455L9.42692 11.686C9.84624 12.1047 10.5264 12.1047 10.9458 11.686L11.7052 10.9278C12.1245 10.5092 12.1245 9.83045 11.7052 9.41148L8.28812 6Z" fill="#343741"></path>
</svg>