<svg
  width="13"
  height="13"
  viewBox="0 0 13 13"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  aria-labelledby="thermos-close-icon thermos-close-icon-desc"
>
  <title id="thermos-close-icon">close Icon</title>
  <desc id="thermos-close-icon-desc">close icon</desc>
  <path opacity="0.4" d="M9.26859 6.5L12.6857 3.08852C13.105 2.66989 13.105 1.99114 12.6857 1.57216L11.9262 0.813977C11.5069 0.395341 10.8271 0.395341 10.4074 0.813977L6.99031 4.22545L3.57324 0.813977C3.15392 0.395341 2.47405 0.395341 2.05439 0.813977L1.29496 1.57216C0.875638 1.9908 0.875638 2.66955 1.29496 3.08852L4.71204 6.5L1.29496 9.91148C0.875638 10.3301 0.875638 11.0089 1.29496 11.4278L2.05439 12.186C2.47371 12.6047 3.15392 12.6047 3.57324 12.186L6.99031 8.77455L10.4074 12.186C10.8267 12.6047 11.5069 12.6047 11.9262 12.186L12.6857 11.4278C13.105 11.0092 13.105 10.3305 12.6857 9.91148L9.26859 6.5Z" fill="#343741"/>
</svg>