<svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon-search"
  viewBox="0 0 64 64"
    aria-labelledby="thermos-icon-search-icon thermos-icon-search-icon-desc"
>
  <title id="thermos-icon-search-icon">icon-search Icon</title>
  <desc id="thermos-icon-search-icon-desc">icon-search icon for the header </desc>
  <defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/>
</svg>