<svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon--wide icon-arrow-left"
  viewBox="0 0 50 15"
  aria-labelledby="thermos-icon-arrow-left thermos-icon-arrow-left-desc"
>
  <title id="thermos-icon-arrow-left">icon-arrow-left</title>
  <desc id="thermos-icon-arrow-left-desc">icon-arrow-left</desc>
  <path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38Z"/>
</svg>