<svg
  xmlns="http://www.w3.org/2000/svg"
  width="20"
  height="20"
  viewBox="0 0 20 20"
  aria-labelledby="thermos-search-icon thermos-search-icon-desc"
>
  <title id="thermos-search-icon">search Icon</title>
  <desc id="thermos-search-icon-desc">search icon for the search bar</desc>
  <g style="fill: white"><g><path d="M8.198 3.215a4.987 4.987 0 0 1 4.983 4.983 4.987 4.987 0 0 1-4.983 4.983 4.987 4.987 0 0 1-4.983-4.983 4.987 4.987 0 0 1 4.983-4.983zm0 13.18a8.167 8.167 0 0 0 4.549-1.382l4.71 4.71c.37.37.98.37 1.366 0l.916-.916a.98.98 0 0 0 0-1.367l-4.726-4.693a8.168 8.168 0 0 0 1.382-4.55C16.395 3.682 12.715 0 8.198 0 3.68 0 0 3.68 0 8.198c0 4.516 3.665 8.197 8.198 8.197z"></path></g></g>
</svg>
