<svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon-pause"
  viewBox="0 0 10 13"
  aria-labelledby="thermos-pause-icon thermos-pause-icon-desc"
>
  <title id="thermos-pause-icon">pause Icon</title>
  <desc id="thermos-pause-icon-desc">pause icon</desc>
  <path d="M0 0h3v13H0zm7 0h3v13H7z" fill-rule="evenodd"/>
</svg>