<svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon-truck"
  viewBox="0 0 64 64"
  aria-labelledby="thermos-truck-icon thermos-truck-icon-desc"
>
  <title id="thermos-truck-icon">truck Icon</title>
  <desc id="thermos-truck-icon-desc">truck button Icon for the pdp page </desc>
  <defs><style>.a{stroke-miterlimit:10}</style></defs><path class="a" d="M16.5 43.22H6.88V16.5h33.14v26.72H23.94m21.48 0h-5.4V30.4h17.1v12.82h-4.23m4.23-12.82-6.41-8.56H40.02"/><circle class="a" cx="20.24" cy="43.76" r="3.74"/><path class="a" d="M45.42 43.23a3.82 3.82 0 1 1 0 .37v-.37"/>
</svg>
