{% comment %}
  This section consistes of the categories on the icon-series page
{% endcomment %}
{{ 'icon-categories.css' | asset_url | stylesheet_tag }}
<div class="icon-category icon-categorycolors-slider-container">
  <button class="prev">&#10094;</button>
  <ul class="slider icon-categorycolors" id="slider">
    {% for block in section.blocks %}
      <li class="{{ block.id }} slide icon-categorycolors-slide">
        {%- if block.settings.image_url != blank -%}
          <a href="{{ block.settings.image_url }}">
            {%- if block.settings.block_image != blank -%}
              <figure>
                {% render 'image-element',
                  img: block.settings.block_image,
                  alt: block.settings.block_image.alt,
                  img_width: 320,
                  loading: 'lazy'
                %}
              </figure>
            {%- endif -%}
            {%- if block.settings.title != blank -%}
              <h4>{{ block.settings.title }}</h4>
            {%- endif -%}
          </a>
        {%- endif -%}
      </li>
    {% endfor %}
  </ul>
  <button class="next">&#10095;</button>
</div>
{% schema %}
{
  "name": "Icon-Series-Category",
  "class": "icon-category",
  "settings": [],
  "blocks": [
    {
      "name": "CategoryBlock",
      "type": "category",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Upload Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Image Title"
        },
        {
          "type": "url",
          "id": "image_url",
          "label": "Upload Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "CategoryBlock",
      "settings": {},
      "blocks": [
        {
          "type": "category"
        },
        {
          "type": "category"
        },
        {
          "type": "category"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
