<div class="instacus-slider">
  <div
    class="elfsight-sapp-ca5c77b0-4e80-44a3-8681-8e13380ad118"
  ></div>
</div>
{% schema %}
{
  "name": "instagram section",
  "class": "instagram-section",
  "presets": [
    {
      "name": "instagram section",
      "category": "Collection"
    }
  ]
}
{% endschema %}
