.section-header__title {
  text-align: center;
}
.section-header {
  margin-bottom: 20px;
}
.rte .enlarge-text {
  margin: 0;
}
.rte p {
  font-family: var(--thermos-dinot);
  font-weight: var(--thermos-font-Weight-bold);
  font-size: var(--thermos-font-size-23) !important;
  line-height: var(--thermos-line-height-37);
}
.rte p em {
  line-height: var(--thermos-line-height-37);
  font-size: var(--thermos-font-size-18);
  font-weight: var(--thermos-font-Weight-700);
  font-family: var(--thermos-dinot);
}
.rte + .rte {
  margin-top: 30px;
}
.index-section .btn {
  font-family: var(--thermos-dinot-cond-bold) !important;
  font-size: var(--thermos-font-size-20) !important;
  padding: 5px 20px;
  border-radius: 5px;
  font-style: normal;
  letter-spacing: 0.3px !important;
  background: var(--thermos-black);
  color: var(--thermos-white);
}
.grid__item h3 {
  font-weight: var(--thermos-font-Weight-500);
  font-size: var(--thermos-font-size-28);
  line-height: var(--thermos-line-height-37);
}
.icon-serires.landing-page .index-section .grid .grid__item p {
  line-height: normal;
  max-width: 500px;
  margin: 0 auto;
  font-size: var(--thermos-font-size-18);
  line-height: normal;
  font-weight: var(--thermos-font-Weight-700);
  font-family: var(--thermos-dinot);
}
.grid--flush-bottom > .grid__item {
  margin-bottom: 22px !important;
}
.three-image-detail {
  position: initial !important;
  height: 100%;
  padding: 0 15px 30px 15px;
  transform: initial !important;
  text-align: center;
}
.landing-page .three-image-section ul li {
  display: flex;
  flex-direction: column;
}
.three-image-section ul li a {
  font-family: var(--thermos-dinot) !important;
  text-transform: initial !important;
}
.three-image-section ul li figure {
  order: 2;
}
.care-landing.landing-page .richtext-section .section-header__title {
  font-family: var(--thermos-aktiv-grotesk) !important;
  font-weight: var(--thermos-font-Weight-bold);
}
@media only screen and (max-width: 769px) {
  .rte p {
    line-height: var(--thermos-line-height-20);
  }
  .grid__item {
    padding-left: 5px;
  }
  .rte p em {
    line-height: var(--thermos-line-height-20);
  }
  .care-landing.landing-page .richtext-section .section-header {
    margin-bottom: 0;
  }
  .care-landing.landing-page .richtext-section .section-header__title {
    font-size: var(--thermos-font-size-20) !important;
  }
}
@media only screen and (min-width: 769px) {
  .index-section {
    margin: 30px 0;
  }
}
