.grid-product__content.grid-product__content--holiday-gifting-featured-image {
  box-shadow: none;
  border-radius: 10px;
}

.template-page.holiday-gifting .grid__item .grid-product__content:hover:hover {
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%) !important;
}

.holiday-gifting-banner .holiday-gifting-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.template-page.holiday-gifting .products-container {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}

.template-page.holiday-gifting .grid .grid__item .grid-product__content {
  width: auto !important;
}

.holiday-gifting-banner .holiday-gifting-contain .container {
  text-align: center;
}

.grid-product__meta {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.grid-product__content .quick-hover-shopping {
  display: block !important;
}

.holiday-gifting-banner .holiday-gifting-contain .container h1 {
  color: var(--thermos-alizarin-crimson);
  font-size: var(--thermos-font-size-70);
  font-family: var(--thermos-dinot-cond-bold);
  letter-spacing: 0;
  line-height: var(--thermos-line-height-70);
  padding-bottom: 4px;
}

.trapeze-banner {
  display: flex;
  overflow: hidden;
}

.kids-banner .kids-banner-title {
  width: 51%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--thermos-cornflower-blue) !important;
  padding: 5% 96px;
  position: relative;
}

.kids-banner .kids-banner-title:before {
  background: none !important;
}

.kids-banner .kids-banner-title:after {
  position: absolute;
  top: 0;
  right: -66px;
  content: '';
  width: 128px;
  background-color: var(--thermos-cornflower-blue);
  height: 100%;
  transform: skew(-10deg, 0deg);
}

.hero__text-shadow {
  position: absolute;
  /* display: inline-block; */
  margin-right: 0%;
  margin-left: 10%;
  margin-top: 10%;
}

.hero__text-content {
  vertical-align: middle !important;
}

.hero-btn {
  padding: 11px 25px !important;
}

.section-header__title {
  font-size: var(--thermos-font-size-40) !important;
}

.trapeze-promo-description > p {
  font-weight: normal !important;
}

.map-section--custom-explore-collection {
  height: 556px !important;
}

.kids-banner .kids-banner-title p {
  font-weight: var(--thermos-font-Weight-bold) !important;
}

.btn-secondary {
  width: auto;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .section-header__title {
    font-size: var(--thermos-font-size-20) !important;
    font-weight: var(--thermos-font-Weight-700);
    font-style: normal;
    letter-spacing: normal;
    line-height: var(--thermos-line-height-45);
    text-align: center;
  }

  .header-custom-explore-collection {
    margin-top: 55% !important;
  }

  .header-custom-explore-collection > p {
    text-align: left !important;
  }

  .map-section--custom-explore-collection {
    height: 548px !important;
  }

  .btn-secondary--custom-explore-collection {
    margin-right: 30% !important;
  }

  .column-2-bg {
    height: 240px;
  }
}

@media only screen and (min-width: 769px) {
  .map-section {
    height: 516px;
  }
}

/* IPAD PRO */
@media only screen and (max-width: 1024px) {
  .hero__text-shadow {
    margin-left: 6%;
    margin-top: 10%;
  }
}

/* IPAD  */
@media only screen and (max-width: 768px) {
  .hero__text-shadow {
    margin-left: 10%;
    margin-top: 11%;
  }
}

.icp-banner-title {
  background-color: var(--thermos-silver-gray) !important;
}

.icp-banner-title:after {
  background-color: var(--thermos-silver-gray) !important;
}

.grid-product__content--section-marketing {
  box-shadow: none;
  max-width: 358px;
  width: 100%;
}

.pagsecondary {
  margin-top: 60px;
}

.holiday-gifting-banner {
  position: relative;
}

.holiday-gifting-banner .holiday-gifting-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.holiday-gifting-banner .holiday-gifting-contain .container {
  text-align: center;
}

.holiday-gifting-banner .holiday-gifting-contain .container p {
  color: var(--thermos-white);
  font-family: var(--thermos-dinot);
  font-size: var(--thermos-font-size-22);
  letter-spacing: 0;
  line-height: var(--thermos-line-height-25-5);
}

#box-grid-first {
  margin-left: auto !important;
}

#box-grid-last {
  margin-right: auto !important;
}

.holiday-gifting .map-section .image-wrap {
  padding-bottom: 100% !important;
}

.holiday-gifting .map-section .grid-product__image-mask {
  height: 233px;
  width: 233px;
  margin: 0 auto;
  zoom: initial !important;
}

.map-section .col-12 {
  margin-left: auto !important;
}

.map-section > div {
  padding: 65px 0;
}

.mobile-explore-collection-content {
  display: none;
}

.moblie-icp-view-all {
  text-align: center;
  display: none;
}

.moblie-icp-view-all a {
  color: var(--thermos-red);
  font-family: var(--thermos-dinot-cond-bold);
  font-size: var(--thermos-font-size-19);
  letter-spacing: 0;
  line-height: var(--thermos-line-height-25);
  padding-right: 24px;
  position: relative;
}

.moblie-icp-view-all a:after {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  top: 7px;
  right: 0px;
  background: url(https://cdn.shopify.com/s/files/1/0552/9731/0876/files/4-layers_1.svg?v=1627545573);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.template-page.holiday-gifting h3 {
  font-family: var(--thermos-dinot-cond-bold);
}

.template-page.holiday-gifting .btn-secondary {
  color: var(--thermos-onyx) !important;
  border-radius: 40px;
  background: var(--thermos-white) !important;
  font-family: var(--thermos-dinot-cond-bold) !important;
  font-size: var(--thermos-font-size-20) !important;
  height: 42px;
  font-style: normal;
  letter-spacing: 0.3px !important;
  line-height: var(--thermos-line-height-20-4);
  text-align: center;
  text-transform: uppercase;
  padding: 9.7px 25px !important;
  border: none;
}

.template-page.holiday-gifting .btn-secondary:hover {
  background: var(--thermos-onyx) !important;
  color: var(--thermos-white) !important;
  border: none !important;
}

.template-page.holiday-gifting .pl-2 {
  padding-left: 8px;
}

@media only screen and (max-width: 767px) {
  .template-page.holiday-gifting .products-container {
    margin-bottom: 0;
    display: block;
  }
  .template-page.holiday-gifting .grid {
    margin-left: 0 !important;
    display: flex;
    flex-wrap: wrap;
  }

  .title-with-viewall {
    padding: 0 !important;
  }

  .title-with-viewall p {
    padding: 5% 0%;
    line-height: var(--thermos-line-height-16);
  }

  .title-with-viewall {
    flex-wrap: wrap;
    padding: 12px 2px 0px 0px;
  }

  .title-with-viewall h1 {
    font-size: var(--thermos-font-size-26) !important;
    line-height: normal !important;
    width: 100%;
    text-align: center;
  }

  .template-page.holiday-gifting .btn-secondary {
    padding: 10px !important;
    width: auto;
    text-wrap: nowrap;
  }

  .template-page.holiday-gifting .map-section {
    height: 540px !important;
  }

  .map-section > div {
    padding: 30px 0;
  }

  .template-page.holiday-gifting .grid {
    margin-bottom: 0;
  }

  .holiday-gifting .pagsecondary .collection-explorer-column-1 {
    height: 500px;
  }

  .holiday-gifting .collection-explorer-column-2 .pl-2 {
    padding-left: 0 !important;
  }

  .holiday-gifting .collection-explorer-column-2 .column-2-bg {
    margin-top: 5px;
  }

  .holiday-gifting .pagsecondary {
    margin-top: 20px;
  }

  .holiday-gifting .title-with-viewall p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .holiday-gifting .collection-explorer-column-2 .column-2-bg .collection-explorer-overlay .col-5 {
    text-align: left !important;
  }

  .holiday-gifting .map-section .map-section-space {
    padding-top: 20%;
    position: relative;
  }

  .holiday-gifting .map-section .map-section-space .grid-product__meta {
    padding: 0 10px;
  }

  .template-page.holiday-gifting
    .map-section-space
    .grid-product__meta
    > .container
    > .row
    > .col-9 {
    height: 80px;
  }

  .template-page.holiday-gifting
    .map-section-space
    .grid-product__meta
    > .container
    > .row
    .grid-cart-img {
    margin-left: -15px;
  }

  .template-page.holiday-gifting
    .map-section-space
    .image-wrap--holiday-gifting-featured-image
    > img {
    width: 213px !important;
    height: 200px !important;
  }

  .mobile-explore-collection-content {
    display: block;
  }

  .desktop-explore-collection-content {
    display: none;
  }

  .moblie-icp-view-all {
    display: block;
    margin-bottom: 30px;
    width: 100%;
  }

  .holiday-gifting .map-section .map-background-data {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  #box-grid-last {
    margin-right: 0 !important;
  }

  #box-grid-first {
    margin-left: 4.5px !important;
    margin-right: 0 !important;
  }

  .box-image-contain .box-grid figure {
    width: auto !important;
    height: auto !important;
  }

  .explore-collection-content.mobile-explore-collection-content.explore-collection-content--holiday-gifting-featured-image {
    top: initial !important;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .explore-collection-content.mobile-explore-collection-content.explore-collection-content--holiday-gifting-featured-image
    .btn-secondary {
    font-size: var(--thermos-font-size-18) !important;
  }
}

.title-with-viewall {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0px 20px 22px;
}

.title-with-viewall h1 {
  color: var(--thermos-onyx);
  margin: 0;
  font-family: var(--thermos-dinot-cond-bold);
  font-size: var(--thermos-font-size-40);
  letter-spacing: 0;
  line-height: var(--thermos-line-height-45);
}

.title-with-viewall p {
  margin-bottom: 0;
  text-align: center !important;
}

.title-with-viewall a {
  color: var(--thermos-red);
  font-family: var(--thermos-dinot-cond-bold);
  font-size: var(--thermos-font-size-19);
  letter-spacing: 0;
  line-height: var(--thermos-line-height-25);
  padding-right: 24px;
  position: relative;
}

.title-with-viewall a:after {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  top: 3px;
  right: 0px;
  background: url('https://cdn.shopify.com/s/files/1/0552/9731/0876/files/4-layers_1.svg?v=1627545573');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.explore-collection {
  display: none;
}

.explore-collection.btnEnableInDesktop {
  display: block !important;
}

.explore-collection.btnEnableInMobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .explore-collection-content.explore-collection-content--holiday-gifting-featured-image {
    position: absolute;
    top: 126px !important;
    text-align: left;
    left: 2%;
  }

  .explore-collection.btnEnableInMobile {
    display: block !important;
  }

  .explore-collection.btnEnableInDesktop {
    display: none;
  }
}

.map-section .grid__item .new-badge,
.map-section .grid__item .grid-product__meta .container-fluid {
  display: none;
}

@media (max-width: 1024px) {
  .template-page .medium-up--one-quarter {
    width: 25% !important;
  }
}

@media (max-width: 767px) {
  .template-page .small--one-half {
    width: 50% !important;
  }
}

@media (max-width: 990px) {
  .small--one-half {
    width: 50% !important;
  }
}
