:root {
  --thermos-gold: #c79140;
  --thermos-aztec-gold: #ca994e;
  --thermos-white: #fff;
  --thermos-black: #000000;
  --thermos-arsenic: #414042;
  --thermos-red: #dc1f26;
  --thermos-green: #4caf50;
  --thermos-active-filter-option: #f20213;
  --thermos-charleston-green: #292c2f;
  --thermos-granite-gray: #636466;
  --thermos-davy-grey: #5d5c5e;
  --thermos-dark-gray-shade: #494b4f;
  --thermos-charleston: #282c2f;
  --thermos-onyx: #343741;
  --thermos-trapeze-banner: #393d4b;
  --thermos-thermos-thermos-light-silver: #d8d8d8;
  --thermos-light-silver-text: #d4d4d4;
  --thermos-lavender: #e0e7ff;
  --thermos-peru: #c4903d;
  --thermos-platinum: #e4e4e3;
  --thermos-platinum-light: #e8e8e1;
  --thermos-chinese-black: #222011;
  --thermos-mine-shaft: #222222;
  --thermos-pastel-blue: #b6bcd466;
  --thermos-venetian-red: #333;
  --thermos-cultured: #f8f8f8;
  --thermos-cloud: #c8c9ca;
  --thermos-eerie-black: #1c1d1d;
  --thermos-bright-gray: #ededed;
  --thermos-translucent-charcoal: #171717;
  --thermos-midnight-blue: #111322;
  --thermos-transparent-black: #00000040;
  --thermos-silver-gray: #a7a9ac;
  --thermos-white-smoke: #f3f3f3;
  --thermos-gunmetal-gray: #141414;
  --thermos-dimgray: #17171745;
  --thermos-scarlet: #d2001b;
  --thermos-charcoal: #2b2b2b;
  --thermos-dim-gray: #1717178f;
  --thermos-light-silver: #d9d9d9;
  --thermos-gunmetal: #41424e;
  --thermos-grayish-white: #e4e4e3;
  --thermos-darktransparant-black: #00000026;
  --thermos-chinese-silver: #cccccc;
  --thermos-slate-blue: #444499;
  --thermos-islamic-green: #009900;
  --thermos-flash-white: #f0f0f0;
  --thermos-wild-blue: #aab1ce;
  --thermos-deep-carmine-pink: #e5363d;
  --thermos-cornflower-blue: #3da3d3;
  --thermos-guardsman-red: #c20000;
  --thermos-alizarin-crimson: #e11b24;
  --thermos-masala: #403d3a;
  --thermos-natural-gray: #969492;
  --thermos-natural-gray-2: #8a8986;
  --thermos-gallery: #eeeeee;
  --thermos-mercury: #e5e5e5;
  --thermos-shakespeare: #39b0cb;
  --thermos-chambray: #3e5c9a;
  --thermos-brick-red: #ce272d;
  --thermos-azure-radiance: #007aff;
  --thermos-saffron-mango: #faca54;
  --thermos-tuna: #343741;
  --thermos-silver: #bbbbbb;
  --thermos-alabaster: #f7f7f7;
  --thermos-silver-chalice: #a4a4a4;
  --thermos-picton-blue: #55acee;
  --thermos-alto: #dddddd;
  --thermos-semi-blue-gray: rgba(47, 53, 92, 0.3);
  --thermos-white-with-transparent-20: rgba(255, 255, 255, 0.2);
  --thermos-light-periwinkle: rgba(224, 231, 255, 0.75);
  --thermos-dark-charcol-transparency: rgba(23, 23, 23, 0.27);
  --thermos-gray-transparency: rgba(23, 23, 23, 0.53);
  --thermos-darkgray-transparency: rgba(23, 23, 23, 0.5);
  --thermos-lightgray-transparancy: rgba(200, 200, 200, 0.6);
  --thermos-black-opacity: rgba(0, 0, 0, 0.59);
  --thermos-light-black: rgba(0, 0, 0, 0.1);
  --thermos-transparent-dark-gray: rgba(52, 55, 65, 0.2);
  --thermos-transparent-black-30: rgba(0, 0, 0, 0.3);
  --thermos-transparent-white-60: rgba(255, 255, 255, 0.6);
  --thermos-transparent-grayish-blue: rgba(52, 55, 65, 0.4);
  --thermos-transparent-slate-gray: rgba(52, 55, 65, 0.8);
  --thermos-transparent-tinted-black: rgba(23, 23, 23, 0.05);
  --thermos-transparent-soft-black: rgba(255, 255, 255, 0.15);
  --thermos-transparent-charcoal: rgba(23, 23, 23, 0.56);
  --thermos-transparent-dark-gary-35: rgba(23, 23, 23, 0.35);
  --thermos-transparent-white-80: rgba(255, 255, 255, 0.8);
  --thermos-transparent-gray-40: rgba(23, 23, 23, 0.4);
  --thermos-semi-transparent: rgba(0, 0, 0, 0.5);
  --thermos-transparent: rgba(0, 0, 0, 0);
  --thermos-transparent-navy-blue: rgba(37, 49, 72, 0.3);
  --thermos-transparent-black-25: rgba(0, 0, 0, 0.25);
  --thermos-transparent-black-40: rgba(0, 0, 0, 0.4);
  --thermos-pale-blue: rgba(221, 227, 249, 0.2);
  --thermos-dark-gray-27: rgba(23, 23, 23, 0.27);
  --thermos-dark-gray-20: rgba(0, 0, 0, 0.2);
}
